@model IEnumerable<ShopIt.Models.Entities.AddedProduct>

@{
    ViewData["Title"] = "Cart";
}

<div>
    <a asp-action="Create" class="btn btn-link">Add new product</a>
</div>

<label class="control-label">Cart</label>
<table class="table">
    <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>
    @foreach (var addedProduct in Model)
    {
        <tr>
            <td>@addedProduct.Product.Title</td>
            <td>@addedProduct.Product.Price</td>
            <td>@addedProduct.Quantity</td>
            <td>
                <form asp-action="Delete" asp-route-id="@addedProduct.Id" method="post">
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@addedProduct.Id">Edit</a>
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>

<a asp-controller="Orders" asp-action="Order" class="btn btn-primary">Order</a>